<div class="overflow-x-auto bg-white rounded-lg shadow-lg mt-6">
  <%= link_to 'Back to Home', root_path, class: 'btn btn-primary' %>
  <h1 class="text-xl font-semibold text-gray-800 text-center py-4">Edit Employee</h1>
  <!-- Rest of your code -->
</div>
<%= render 'form', employee: @employee %>